#page-enrol-index #region-main {
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
}

@media (max-width: 940px) {
    #page-enrol-index #region-main {
        width: 90%;
    }
}

#page-enrol-index .coursebox .content .summary,
#page-enrol-index .coursebox .content .coursecat {
    width: 95%;
    float: none;
}

#page-enrol-index .coursebox .content .summary .course_box,
#page-enrol-index .coursebox .content .coursecat .course_box {
    margin: 0 auto 20px auto;
    float: none;
}

#page-enrol-index .payment-box {
    padding: 15px 0;
}

#page-enrol-ildpayone-success.pagelayout-base #page {
    margin: 0;
}

#page-enrol-ildpayone-success.pagelayout-base #region-main {
    width: 80%;
    max-width: 920px;
    margin: 0 auto;
}